@media (min-width: 768px) {
	h1 { font-size: 2.4rem; }
	h2 { font-size: 2.3rem; }
	h3 { font-size: 2.2rem; }
	h5 { font-size: 2rem; }
	h5 { font-size: 1.8rem; }
	h6 { font-size: 1.6rem; }
}

@media screen and (min-width: 992px) {
	.menu-toggle { display: none; }

	.main-navigation ul { display: block; }
}

@media (max-width: 991px) {

	.banner {
		height: 70vh;
	}

	.container-menu {
		position: absolute;
		top: 11.03rem;
		left: 0;
		width: 100%;
		padding: 0 3.5rem;
		z-index: 9999;
	}

	.main-navigation ul {
		padding: .5rem;
		border-radius: .5rem .5rem 0 0;
		background: rgba(116,130,144,.6);
	}

	.main-navigation li {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.main-navigation li ul {
    position: relative;
    visibility: visible;
    margin-left: -2rem;
    transform: scaleY(1);
    opacity: 1;
    background: rgba(225,225,225,.6);
}


	.main-navigation li ul a { color: #1e205a; }

	.main-navigation li ul ul { 
		right: 0;top: 0;
		margin: 1rem 0; 
	}

	.main-navigation li { display: block; }

	.main-navigation li a { color: #fff; }

	.article-single header.entry-header { /*thumbnails in single*/
		height: auto;
	}

	/* footer */
	.blogname-wr {
		text-align: center;
		margin-bottom: 2rem;
	}
}

@media (max-width: 767px) {

	h1 { font-size: 2.1rem; }
	h2 { font-size: 1.8rem; }
	h3 { font-size: 1.7rem; }
	h5 { font-size: 1.6rem; }
	h5 { font-size: 1.5rem; }
	h6 { font-size: 1.4rem; }

	body { font-size: 1.5rem; }

	.site-title { font-size: 2.2rem; }

	.custom-logo-link img {
		max-height: 60px;
		width: auto;
	}

	.container-menu { top: 12.03rem; }

	.entry-content {
		padding: 30px 30px 20px;
		margin: 0;
	}

	header.entry-header {
		height: auto;
		margin-bottom: 0;
		border-radius: .5rem .5rem 0 0;
	}

	header.entry-header img {
		display: block;
		max-width: 100%;
		height: auto;
	}

	.entry-content { border-radius: 0 0 .5rem .5rem; }

	.entry-title { font-size: 2rem; }

	.widget-title { font-size: 2rem; }

	/* breadcrumbs */
	.breadcrumbs-line { padding: 0 1.5rem; }

	.breadcrumb { height: 70px; }

	.breadcrumb a { display: block; }
}

@media (max-width: 574px) {
	header.site-header { padding: 2rem 1.5rem; }

	.site-description { display: none; }

	.container-menu { padding: 0 1.5rem; }

	.banner-wrap { padding: 0 1.5rem; }

	/* footer */
	.blogname-footer { font-size: 2.5rem; }

	.footer-area .icon-bar a {
		font-size: 2rem;
		width: 35px;
		height: 35px;
	}
}